Assignment â€“ Model Selection

1. Loading the dataset into python environment

In [ ]:
import pandas as pd

df = pd.read_csv("/content/titanic_dataset .csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

2.Pre-processing Dataset

In [ ]:
# checking null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df['Age'].mean()

29.69911764705882

In [ ]:
# Filling the missing values present in the columns in the dataset

df['Age']=df['Age'].fillna(df['Age'].mean())  # filling Age

In [ ]:
# finding missing values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df['Cabin']=df['Cabin'].fillna(df['Cabin'].mode()[0]) # filling missing values of Cabin Column
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])  # Filing missing values of Embarked

In [ ]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S

In [26]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [27]:
df['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [28]:
# Encoding Categorical Feature - Sex

from sklearn.preprocessing import LabelEncoder
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'] )

df['Sex'].head()

0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int64

In [29]:
#split dataset in features and target variable
feature_cols = ['Pclass', 'Sex', 'Age', 'SibSp','Parch']
X = df[feature_cols] # Features
y = df.Survived # Target variable

In [30]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [31]:
X.head()

   Pclass  Sex   Age  SibSp  Parch
0       3    1  22.0      1      0
1       1    0  38.0      1      0
2       3    0  26.0      0      0
3       1    0  35.0      1      0
4       3    1  35.0      0      0

In [32]:
from sklearn.model_selection import train_test_split # Import train_test_split function

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) # 70% training and 30% test

3.  kNN and SVM models

In [36]:

from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# K-Nearest Neighbors (KNN) Model
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(X_train, y_train)
y_pred_knn = knn_model.predict(X_test)
accuracy_knn = accuracy_score(y_test, y_pred_knn)
print(f'KNN Accuracy: {accuracy_knn}')

KNN Accuracy: 0.7761194029850746

In [37]:
# Support Vector Machines (SVM) Model
svm_model = SVC(kernel='linear')
svm_model.fit(X_train, y_train)
y_pred_svm = svm_model.predict(X_test)
accuracy_svm = accuracy_score(y_test, y_pred_svm)
print(f'SVM Accuracy: {accuracy_svm}')

SVM Accuracy: 0.7910447761194029

 4 .k-fold and stratified k-fold cross validation techniques

In [39]:
# K-Nearest Neighbors (KNN) Model with k-fold cross-validation

from sklearn.model_selection import cross_val_score, StratifiedKFold, KFold
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier(n_neighbors=5)
k_fold_scores_knn = cross_val_score(knn_model, X, y, cv=KFold(n_splits=10, shuffle=True, random_state=42))
average_accuracy_knn = k_fold_scores_knn.mean()
print(f'KNN Average Accuracy: {average_accuracy_knn}')

KNN Average Accuracy: 0.7766791510611736

In [43]:
# K-Nearest Neighbors (KNN) Model with stratified k-fold cross-validation

knn_model1 = KNeighborsClassifier(n_neighbors=5)
stratified_k_fold_scores_knn = cross_val_score(knn_model1, X, y, cv=StratifiedKFold(n_splits=10, shuffle=True, random_state=42))
average_accuracy_knn = stratified_k_fold_scores_knn.mean()
print(f'KNN Average Accuracy: {average_accuracy_knn}')

KNN Average Accuracy: 0.7754931335830213

In [44]:
# Support Vector Machines (SVM) Model with stratified k-fold cross-validation
svm_model = SVC(kernel='linear')
stratified_k_fold_scores_svm = cross_val_score(svm_model, X, y, cv=StratifiedKFold(n_splits=10, shuffle=True, random_state=42))
average_accuracy_svm = stratified_k_fold_scores_svm.mean()
print(f'SVM Average Accuracy: {average_accuracy_svm}')

SVM Average Accuracy: 0.7867041198501872

In [45]:
# Support Vector Machines (SVM) Model with k-fold cross-validation
svm_model = SVC(kernel='linear')

# Using KFold for cross-validation
k_fold_scores_svm = cross_val_score(svm_model, X, y, cv=KFold(n_splits=10, shuffle=True, random_state=42))
average_accuracy_svm = k_fold_scores_svm.mean()
print(f'SVM Average Accuracy (K-Fold): {average_accuracy_svm}')

SVM Average Accuracy (K-Fold): 0.7867290886392009